<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black2w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,106}</string>
                <key>spriteSourceSize</key>
                <string>{214,106}</string>
                <key>textureRect</key>
                <string>{{53,0},{214,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue2w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,108}</string>
                <key>spriteSourceSize</key>
                <string>{216,108}</string>
                <key>textureRect</key>
                <string>{{590,0},{216,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brown2h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,108}</string>
                <key>spriteSourceSize</key>
                <string>{52,108}</string>
                <key>textureRect</key>
                <string>{{858,0},{52,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark2h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,108}</string>
                <key>spriteSourceSize</key>
                <string>{52,108}</string>
                <key>textureRect</key>
                <string>{{806,0},{52,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gross2h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,214}</string>
                <key>spriteSourceSize</key>
                <string>{106,214}</string>
                <key>textureRect</key>
                <string>{{910,0},{106,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pink2h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,108}</string>
                <key>spriteSourceSize</key>
                <string>{53,108}</string>
                <key>textureRect</key>
                <string>{{267,0},{53,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple2h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,106}</string>
                <key>spriteSourceSize</key>
                <string>{53,106}</string>
                <key>textureRect</key>
                <string>{{0,0},{53,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple3h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,328}</string>
                <key>spriteSourceSize</key>
                <string>{108,328}</string>
                <key>textureRect</key>
                <string>{{106,214},{108,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red2w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,108}</string>
                <key>spriteSourceSize</key>
                <string>{218,108}</string>
                <key>textureRect</key>
                <string>{{320,0},{218,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rush hour grid.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,586}</string>
                <key>spriteSourceSize</key>
                <string>{527,586}</string>
                <key>textureRect</key>
                <string>{{214,214},{527,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thebigCity.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{0,800},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow2h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,108}</string>
                <key>spriteSourceSize</key>
                <string>{52,108}</string>
                <key>textureRect</key>
                <string>{{538,0},{52,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow3h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,322}</string>
                <key>spriteSourceSize</key>
                <string>{106,322}</string>
                <key>textureRect</key>
                <string>{{0,214},{106,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ManicTrafficSprites.png</string>
            <key>size</key>
            <string>{1024,1568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f62d8097c4db81d5927ea62b769f12:6e045f80ef101e7fc5abc6c62758f20a:f1f1f5d5b71e0095f33a1a1abd26cafc$</string>
            <key>textureFileName</key>
            <string>ManicTrafficSprites.png</string>
        </dict>
    </dict>
</plist>
